fastapi==0.115.12
uvicorn[standard]==0.34.3
python-dotenv==1.1.0
pyTigerGraph[gds]==1.9.1
pydantic==2.11.4
langchain==0.3.25
langchain-google-genai==2.1.5
langgraph==0.4.7
langgraph-prebuilt==0.2.3
langgraph-checkpoint==2.0.26
httpx==0.28.1
sse-starlette==2.3.6
humanize==4.12.3
